.SchedulePage-Main {
  position: absolute;
}

.SchedulePage-P1 {
  font-family: "Times New Roman";
}

.SchedulePage-H1 {
  font-family: "DomLovesMary Pro";
}

.SchedulePage-P1Title {
  font-family: "Wild and Folk";
}
