.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @media only screen and (max-device-width: 3840px) and (min-width: 2561px) { */


/* divs */ 
  
.App-headribbon {
  font-size: 4rem;
}

.App-headribbonh1 {
  position: absolute;
}

.App-headribbonh2 {
  position: absolute;
}

.App-rsvpbutton {
  position: absolute;
}

.App-navbar {
  position: absolute;
}

.App-headribbonimage {
  position: absolute;
}

/* components */

.App-link {
  color: #61dafb;
}

.App-h1 {
  font-family: "DomLovesMary Pro";
}

.App-h2 {
  font-family: "Times New Roman";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* fonts */
@import url(//db.onlinewebfonts.com/c/25f19424a5fb75023182a80c61dffc37?family=DomLovesMary+Pro);

@font-face {
  font-family: "DomLovesMary Pro";
  src: url("//db.onlinewebfonts.com/t/25f19424a5fb75023182a80c61dffc37.eot");
  src: url("//db.onlinewebfonts.com/t/25f19424a5fb75023182a80c61dffc37.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/25f19424a5fb75023182a80c61dffc37.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/25f19424a5fb75023182a80c61dffc37.woff") format("woff"), url("//db.onlinewebfonts.com/t/25f19424a5fb75023182a80c61dffc37.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/25f19424a5fb75023182a80c61dffc37.svg#DomLovesMary Pro") format("svg");
} 

/* vh is percentage of browser vertical height this element will take up */